# Environments & Secrets
venv/
.env
__pycache__/
*.pyc

# Database files (We upload the seed scripts, not the physical DBs)
*.db
*.sqlite3

# Next.js & Node
frontend/node_modules/
frontend/.next/
frontend/out/
frontend/build/
.DS_Store